@font-face {
  font-family: "NeueMachina-Ultrabold"; /* Имя шрифта */
  src: url(font/NeueMachina-Ultrabold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: "NeueMachina-Regular"; /* Имя шрифта */
  src: url(font/NeueMachina-Regular.otf); /* Путь к файлу со шрифтом */
}

.text {
  a {
    text-decoration: none;
  }
}


.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 172px);
}

.pageLeft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 570px;
  margin-right: 100px;
}

.textTitle {
  font-family: "NeueMachina-Ultrabold", serif;
  font-size: 73px;
  font-weight: 600;
  background: -webkit-linear-gradient(45deg,rgba(253,100,79,1), rgba(242,142,38,1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textSubtitle {
  font-size: 35px;
  font-family: "NeueMachina-Regular", serif;
}

.textContent {
  font-size: 26px;
  font-style: italic;
  margin-top: 16px;
  color: #C4C4CC;
}

.button {
  color: #C4C4CC;
  border: 1px solid #fd644f;
  font-size: 24px;
  padding: 10px 40px;
 font-family: 'Golos Text', sans-serif;
  border-radius: 15px;
  text-align: center;
  margin-top: 60px;
  width: fit-content;


  &:hover {
    background-color: #fd644f;
    color: #222222;
    transition: 0.3s;
    cursor: pointer;
    /*transform: scale(110%);*/
  }
}

.pageRight {
  img {
    height: 570px;
  }
}

.conTitle {
  font-size: 35px;
  font-family: "NeueMachina-Regular", serif;
  margin-bottom: 26px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.icon {
  width: 80px;
  opacity: 0.85;

  &:hover {
    opacity: 1;
    transition: 0.4s;
  }
}


@media only screen and (max-width: 992px) {
  .pageRight {
    img {
      height: 470px;
    }
  }

  .pageLeft {
    height: 474px;
    margin-right: 50px;

    .textTitle {
      font-size: 63px;
    }

    .textSubtitle {
      font-size: 27px;
    }

   .textContent {
     font-size: 24px;
   }
  }
}