.header {
  margin-top: 23px;
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: white;
  font-size: 22px;

  li {
    border-bottom: 1px solid #222222;
  }

  li:hover {
    border-bottom: 1px solid white;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.active {
  border-color: white !important;
}

.not {
  width: 500px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .not {
    width: 400px;
  }

  .list {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    img {
      width: 100%;
      height: auto;
    }
  }
}