.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 45px;
  height: 38px;
  padding: 10px;
  border-radius: 5px;

  .line {
    border: 1px solid #a1a1a8;
  }

  &:hover {
    cursor: pointer;

    .line {
      border-color: white;
      transition: 0.5s;
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  border: 1px solid #a1a1a8;
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;

  a {
    color: #a1a1a8;
    &:hover {
      color: white;
    }
  }
}



@media only screen and (max-width: 600px) {
  .dropdown {
    margin-right: 5px;
    background-color: rgba(34, 34, 34, 0.5);
  }
}