.card {
  width: 30%;
}

.title {
  font-size: 38px;
  font-weight: 600;
  color: #d1d1ff;
}

.subtitle {
  font-size: 18px;
  font-weight: 300;
}

.text {
  font-size: 18px;
  margin-top: 10px;
  color: #C4C4CC;
}